@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    margin: auto;
    text-align: center;
}

a {
    color: black;
}

/* header */
.container {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: auto;
    background-color: rgba(225, 225, 225, .1);
    text-align: center;
}

header {
    width: 100%;
    background-color: rgb(233, 233, 233);
    height: 6rem;
}

header .container {
    content: '';
    display: block;
    clear: both;
}

header .container .logo {
    position: absolute;
    height: 11rem;
    width: 384px;
    color: white;
    float: left;
    background: url(../img/vans-logo.svg) no-repeat center center/cover;
}

header .container .link {
    background-color: white;
}

header .container .link li {
    display: inline;
    position: relative;
    left: 20rem;
    height: 6rem;
    line-height: 6rem;
    padding-right: 3rem;
    width: 70%;
}

/* nav */

nav {
    width: 100%;
    height: 5rem;
    background-color: rgb(215, 215, 215);
}

nav .container {
    background-color: white;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
}



/* banner1 */
.banner1 {
    width: 100%;
    height: 3rem;
    background-color: rgb(184, 184, 184);
}

.banner1 .container {
    background-color: black;

}

.banner1 .container a {
    color: white;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
}


/* banner2 */
.banner2 {
    width: 100%;
    height: 70rem;
    background-color: rgb(156, 156, 156);
}

.banner2 .container {
    background-color: rgb(79, 79, 79);
    background: url(../img/banner2.jpg) no-repeat center center/cover;
}

.banner2 .container a {
    width: 100%;
    height: 70rem;
    line-height: 70rem;
}



/* content1 */
.content1 {
    width: 100%;
    height: 50rem;
    background-color: rgb(134, 134, 134);

}

.content1 .container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;

}

.content1 .container .img {
    background-color: white;
    width: 250px;
    height: 300px;
    position: relative;
    top: -30px;

}

.content1 .container .img:first-child {
    background: url(../img/content1-1.jpg) no-repeat center center/cover;
}

.content1 .container .img:nth-child(2) {
    background: url(../img/content1-2.jpg) no-repeat center center/cover;
}

.content1 .container .img:nth-child(3) {
    background: url(../img/content1-3.jpg) no-repeat center center/cover;
}

.content1 .container .img:last-child {
    background: url(../img/content1-4.jpg) no-repeat center center/cover;
}

.content1 .container .img a {
    position: absolute;
    top: 320px;
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;
    left: 0;
}



/* content2 */
.content2 {
    width: 100%;
    height: 70rem;
    background-color: rgb(106, 106, 106);
}

.content2 .container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}


.content2 .container .imgs {
    background-color: white;
    width: 400px;
    height: 350px;
    position: relative;
}
.content2 .container .img1 {
    background: url(../img/content2-1.jpg) no-repeat center center/cover;
}

.content2 .container .img2 {
    background: url(../img/content2-2.jpg) no-repeat center center/cover;
}

.content2 .container .img3 {
    background: url(../img/content2-3.jpg) no-repeat center center/cover;
}

.content2 .container .text {
    position: absolute;
    background-color: black;
    color: white;
    width: 500px;
    height: 50px;
    margin-bottom: 500px;

}

.content2 .container .imgs a {
    position: absolute;
    background-color: black;
    color: white;
    width: 350px;
    height: 50px;
    left: 0;
    top: 370px;
}



/* content3 */
.content3 {
    width: 100%;
    height: 30rem;
    background-color: rgb(81, 81, 81);
}

.content3 .container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.content3 .container .img {
    background-color: white;
    width: 260px;
    height: 200px;
}

.content3 .container .img:first-child {
    background: url(../img/content3-1.jpg) no-repeat center center/cover;
}

.content3 .container .img:nth-child(2) {
    background: url(../img/content3-2.jpg) no-repeat center center/cover;
}

.content3 .container .img:nth-child(3) {
    background: url(../img/content3-3.jpg) no-repeat center center/cover;
}

.content3 .container .img:last-child {
    background: url(../img/content3-4.jpg) no-repeat center center/cover;
}


/* content4 */
.content4 {
    width: 100%;
    height: 40rem;
    background-color: rgb(58, 58, 58)
}

.content4 .container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.content4 .container .img {
    position: relative;
    background-color: white;
    width: 500px;
    height: 300px;
    background: url(../img/content4-1.jpg) no-repeat center center/cover;
}

.content4 .container .text {
    position: absolute;
    background-color: white;
    width: 300px;
    height: 50px;
    margin-bottom: 200px;
    margin-left: 330px;
}

.content4 .container .textbox {
    background-color: white;
    width: 500px;
    height: 200px;
    margin-top: 100px;
}



/* content5 */
.content5 {
    width: 100%;
    height: 90rem;
    background-color: rgb(30, 30, 30);
}

.content5 .container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content5 .container .img {
    background-color: white;
    width: 500px;
    height: 300px;
}

.content5 .container .img1,
.img2 {
    margin-top: 20px;
}

.content5 .container .img3,
.img4 {
    margin-bottom: 70px;
}

.content5 .container a {
    position: absolute;
    background-color: black;
    color: white;
    width: 500px;
    height: 50px;
    margin-bottom: 50px;
}
.content5 .container .img1 {
    background: url(../img/content5-1.jpg) no-repeat center center/cover;
}
.content5 .container .img2 {
    background: url(../img/content5-2.jpg) no-repeat center center/cover;
}
.content5 .container .img3 {
    background: url(../img/content5-3.jpg) no-repeat center center/cover;
}
.content5 .container .img4 {
    background: url(../img/content5-4.jpg) no-repeat center center/cover;
}




/* footer */
footer {
    width: 100%;
    height: 30rem;
    background-color: rgb(16, 16, 16);
}

footer .container {
    display: flex;
    flex-wrap: wrap;
}

footer .container .logo {
    background-color: black;
    color: white;
    position: relative;
    top: 200px;
    height: 100px;
    width: 100%;
    margin-top: -100px;
}

footer .container .copy {
    background-color: white;
    position: relative;
    top: -40px;
    height: 50px;
    width: 100%;
}